.root {
    display: flex;
    align-items: center;
    padding: padding("md");
}

.logo {
    display: flex;
    gap: 0;
    flex-direction: column;
}

.ather {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    line-height: 0.5rem;
}